@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  scroll-behavior: smooth;
  background-color: white;
  color: black;
}

body {
  @apply antialiased;
}


/*FONT STYLE*/
@font-face {
  font-family: "DMSerifReg";
  src: url("../assets/fonts/DMSerifText-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "DMSerifItal";
  src: url("../assets/fonts/DMSerifText-Italic.ttf") format("truetype");
} 

@font-face {
  font-family: "DongleReg";
  src: url("../assets/fonts/Dongle-Regular.ttf") format("truetype");
} 










